* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  background-color: rgb(20, 20, 17);
  display: flex;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 8rem;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  margin-top: 22px;
}

.nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.checkout {
  margin-right: 3rem;
  color: #fff;
}

#checkout-icon {
  height: 40px;
  width: 50px;
}

#line {
  height: 4px;
  background: #ee0979;
}

#about {
  display: flex;
}

.about {
  position: absolute;
  color: #fff;
  left: 45%;
  top: 10rem;
  text-transform: uppercase;
}

#pizzas-available {
  background-color: rgb(20, 20, 17);
}

#pizzas-available p {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: #fff;
}

.col-md-3 {
  background: chartreuse;
  height: 20rem;
}

.imgs {
  background-color: #fff;
  height: 15rem;
  width: 100%;
}

#small {
  display: flex;
}

.crispy-crust {
  text-align: center;
  background-color: #fff;
  height: 15rem;
  width: 22%;
  position: absolute;
  margin-left: 8px;
  opacity: 0.5;
  display: none;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
  -webkit-transition-delay: 0.9s;
  -moz-transition-delay: 0.9s;
  transition-delay: 0.9s;
  cursor: pointer;
}

.stuffed-crust {
  text-align: center;
  background-color: #fff;
  height: 15rem;
  width: 22%;
  position: absolute;
  margin-left: 8px;
  opacity: 0.5;
  display: none;
}
.cracker-crust {
  text-align: center;
  background-color: #fff;
  height: 15rem;
  width: 22%;
  position: absolute;
  margin-left: 8px;
  opacity: 0.5;
  display: none;
}
.gluttenFree-crust {
  text-align: center;
  background-color: #fff;
  height: 15rem;
  width: 22%;
  position: absolute;
  margin-left: 8px;
  opacity: 0.5;
  display: none;
}

.title {
  margin-top: 30%;
  color: rgb(199, 37, 91);
  font-size: 20px;
  text-transform: uppercase;
  opacity: 1;
}

.orderNow {
  position: absolute;
  margin-top: 17rem;
  margin-left: 7%;
  width: 10rem;
  background: #fff;
}

.orderNow h4 {
  margin-top: 5px;
  margin-left: 10px;
}

#make-order {
  background-color: rgb(20, 20, 17);
  margin-top: 2rem;
}

#make-order p {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: #fff;
}

#orderForms {
  height: 30rem;
}

#contact-us {
  background-color: rgb(20, 20, 17);
  margin-top: 2rem;
}

#contact-us p {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: #fff;
}

#footer {
  margin-top: 2rem;
  background-color: rgb(20, 20, 17);
  height: 15rem;
}
