* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.navbar {
  height: 80px;
  background-color: rgb(20, 20, 17);
  display: flex;
}

.logo {
  font-size: 24px;
  text-transform: uppercase;
  margin-left: 8rem;
  background: linear-gradient(to right, #ee0979, #ff6a00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 2rem;
  margin-top: 22px;
}

.nav ul li a {
  text-decoration: none;
  display: inline-block;
  color: #fff;
}

.checkout {
  margin-right: 3rem;
  color: #fff;
}

#checkout-icon {
  height: 40px;
  width: 50px;
}

#line {
  height: 4px;
  background: #ee0979;
}

#about {
  display: flex;
}

.about {
  position: absolute;
  color: #fff;
  left: 45%;
  top: 10rem;
  text-transform: uppercase;
}

#pizzas-available {
  background-color: rgb(20, 20, 17);
}

#pizzas-available p {
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 450;
  color: #fff;
}

.col-md-3 {
  background: chartreuse;
  height: 15rem;
}

.imgs {
  background-color: #fff;
  height: 15rem;
}
